
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="cakePage">Torta lap</h1>
        <div class="row">
            <div class="col-sm-6">
                <h4>A kép kizárólag illusztráció</h4>
                <img src="{{cakeDetails.imageUrl}}" class="img-thumbnail myimg">
            </div>
            <div class="col-sm-6">
                <p class="cakeTitle">{{cakeDetails.cakeName}}</p>
                <p class="cakeMain">Fő hozzávaló: {{cakeDetails.mainIngredient}}</p>
                <p class="details">
                    <label for="age" class="myLabel">Ajándékozott kora: </label> 
                    <input type="number" name="age" id="age" class="myNumeric"></p>
                <p class="price">Torta ára: {{cakeDetails.price}}ft</p>
                <button type="submit" class="btn basket">Kosárba</button>
            </div>
        </div>
    </div>
</body>
</html>